@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-size: 14px;
  font-family: Poppins !important;
  color: #15354e;
}

.h-100 {
  height: 100vh !important;
}

.h6,
h6 {
  font-size: 14px;
}

a {
  text-decoration: none;
  /*color: #0900ff;*/
  cursor: pointer;
}

a:hover {
  /*text-decoration: underline!important;*/
  /* color: #f55314!important;*/
}

/* Link Tag css */

.link {
  text-decoration: none;
  /*color: #0900ff;*/
  cursor: pointer;
  color: #000 !important;
  font-weight: 600 !important;
}

.Link:hover {
  /*text-decoration: underline!important;*/
  /* color: #f55314!important;*/
}

/* breadcrumb */

.breadcrumb Link {
  color: #000 !important;
  font-weight: 600 !important;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

/* ----------- Spinner -----------------------*/

.spinner-grow-sm {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 2%;
}

/* ----------- Navbar -----------------------*/
.navbar {
  padding: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255);
}

.navbar-brand img {
  padding: 2%;
  padding-left:10px;
  width: 160px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #172b4d !important;
  background: linear-gradient(45deg, #500dd1, #0796e3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-collapse {
  height: 100%;
  font-size: 14px;
}

/* Sidebar */
.sidebar {
  background: #fff;
}

.logo {
  background: #f6f7f7;
  position: fixed;
  width: 16.6%;
  top: 0;
}

.menu-list {
  font-size: 12px;
  padding-top: 38px;
}

.menu-list a:hover {
  text-decoration: underline !important;
  color: #f55314 !important;
}

.suheading {
  font-family: "Poppins", sans-serif;
  /*text-transform: uppercase;*/
  font-size: 16px;
  height: 20px;
  display: contents;
}

.menu-list .accordion-body {
  padding: 0 1.25rem;
}

.menu-list ul {
  list-style: disc;
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-top: 20px;
}

.menu-list ul li{
  unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.menu-list ul li {
  margin-top: 5%;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

ul li::marker{
  font-size: 40%;
  color: #000;
}

.menu-list a {
  color: #5f5f5f;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.menu-list ul li:active Link {
  color: #ff3d00;
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #0068ff;
  background-color: #ffffff;
  box-shadow: none !important;
  font-weight: 600;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  padding: 6% 5% 6% 5%;
  margin: 3% 0;
  /* border: 0 !important; */
}

.accordion .suheading {
  font-family: "Poppins", sans-serif;
  /* text-transform: uppercase; */
  font-size: 16px;
  height: 20px;
  font-weight: 500;
  display: contents;
}

.accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}

.accordion-button:focus {
  box-shadow: none !important;
}

/* Sidebar */
.sidebar {
  background: #fff;
}

.logo {
  background: #f6f7f7;
  position: fixed;
  width: 16.6%;
  top: 0;
}

.menu-list {
  font-size: 12px;
  padding-top: 38px;
}

.menu-list a:hover {
  text-decoration: underline !important;
  color: #f55314 !important;
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list ul li {
  margin-top: 5%;
}

.menu-list a {
  color: #1e3a50;
  text-decoration: none;
  font-size: 14px;
}

.accordion-button:not(.collapsed) {
  color: #0068ff;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  font-weight: 600;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  padding: 8% 5% 8% 2%;
  margin: 0;
}

.accordion-item {
  background-color: #fff;
  border: 0px !important;
}

.accordion .suheading {
  font-family: "Poppins", sans-serif;
  /* text-transform: uppercase; */
  font-size: 16px;
  height: 20px;
  font-weight: 500;
  display: contents;
}

.accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}

/*-------------------------------------Action Compoinents----------------------------------------*/
.Elements-section .card .card-body {
  height: 140px;
}

h4.heading-border-left {
  border-left: 4px solid #fd8050;
  padding-left: 1%;
}

.footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #000 !important;
  color: #fff !important;
  text-align: right !important;
}

#action-components a {
  color: #15354e;
  text-decoration: none;
}

.scrollspy-example-2 {
  position: relative;
  height: 90vh;
  overflow: auto;
}

.float-me {
  position: absolute;
  right: -15px;
  width: 150px;
  top: 5px;
}

/*------------------------------------- Button ----------------------------------------*/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn {
  border-radius: 4px;
}

/*primary button*/
.btn-primary {
  color: #fff;
  background-color: #4ea1ff;
  border-color: #4ea1ff;
}

/*secondary button*/
.btn-secondary {
  color: #fff;
  background-color: #5c82e3;
  border-color: #5c82e3;
}

/*danger button*/
.btn-danger {
  color: #fff;
  background-color: #ea2745;
  border-color: #ea2745;
}

/*success button*/
.btn-success {
  color: #fff;
  background-color: #4dab9d;
  border-color: #4dab9d;
}

/*warning button*/
.btn-warning {
  color: #fff;
  background-color: #f58220;
  border-color: #f58220;
}

.btn-outline-default {
  color: #6c757d;
  border-color: #f2f4f6;
}

/*------------------------------------- p ----------------------------------------*/

p.card-text {
  color: #7c7c7c;
  font-weight: 300;
  font-size: 12px;
}

section > h6 {
  font-size: 1rem;
}

/*--------------------------------- Headings ----------------------------------*/

.h1,
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

.h2,
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
}

.h3,
h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}

.h4,
h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #000;
}

.h5,
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.h6,
h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
}

.h7,
h7 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

p {
  font-size: 14px;
}

.small,
small {
  font-size: 0.75rem;
}

label {
  font-size: 12px;
  margin-bottom: 5px;
}

/*------------------------------------- banner wrapper  ----------------------------------------*/

#banner_wrapper {
  background: #000;
  /*background: url(../images/logo/background-blue-gradient.png) bottom no-repeat;*/
  background-size: cover;
  height: auto;
  color: #fff;
  /* z-index: -3; */
  position: relative;
}

/* ==== bg : circles ====*/
#banner_wrapper .bg-vector {
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto;
  height: auto;
  width: 40%;
  padding: 0;
  margin: 0;
  z-index: 1 !important;
  opacity: 0.2;
}

/* ==== dot-pattern ====*/
#banner_wrapper .dot-pattern {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 120px;
  z-index: -1;
}

/*==== contents ====*/
#banner_wrapper .contents {
  margin-top: 2%;
}

#banner_wrapper .contents p {
  margin-top: 12px;
}

.h6,
h6 {
  font-size: 16px;
  font-weight: 600;
}

/* --------------------------------------- footer navigation ----------------------------- */

#navigation ul {
  list-style: none;
  padding: 0;
}

#navigation ul li {
  display: inline-block;
  vertical-align: middle;
}

#navigation ul li small {
  color: #9398b3;
}

#navigation ul li h6:hover {
  color: #f95418;
}

#navigation ul li li.breadcrumb-item {
  width: 100%;
}

#navigation ul li h6 {
  font-size: 1rem;
}

/*---------------------------------------
Alerts
---------------------------------------*/

.alert-primary {
  color: #0b54c0;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.alert-success {
  color: #128951;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-warning {
  color: #b68c10;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-danger {
  color: #c61a28;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-info {
  color: #0092b2;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.alert-column1 {
  margin: 40px 0 50px 40px;
}

.alert-column2 {
  margin: 40px 0 50px 0;
}

/*---------------------------------------
hover-shadow
---------------------------------------*/

.card.hover-shadow,
.hover-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0 8px 17px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%);
}

/*---------------------------------------
cursor-pointer
---------------------------------------*/

.cursor-pointer {
  cursor: pointer;
}

/*---------------------------------------
Borders
---------------------------------------*/

.border-right {
  border-right: 1px solid #f0faf6;
}

/*---------------------------------------
cards
---------------------------------------*/
.card {
  border: 1px solid rgb(236 236 236);
}

/*---------------------------------------
Scrollbar
---------------------------------------*/
/*::-webkit-scrollbar {
    width: 9px!important;
    background: #ccc;
}*/

/*---------------------------------------
note-light
---------------------------------------*/
.note {
  padding: 10px;
  border-left: 6px solid;
  border-radius: 5px;
}

.note-light {
  background-color: #fff5f1;
  border-color: #fd5c1c;
}

/* updated css Rohit */

.read-div {
  position: absolute;
  bottom: 14px;
}

.component-read-more {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(13, 110, 253) !important;
}

.component-read-more:hover {
  color: #f55314 !important;
}

#elements .card .card-body {
  height: 155px;
}

/* media queries */

/* media queries 1280px*/

@media screen and (min-device-width: 1200px) and (max-device-width: 1365px) and (-webkit-min-device-pixel-ratio: 1) {
  .Elements-section .card .card-body {
    height: 185px;
  }

  #elements .card .card-body {
    height: 175px;
  }
}

/* media queries 1366px*/

@media screen and (min-device-width: 1366px) and (max-device-width: 1439px) and (-webkit-min-device-pixel-ratio: 1) {
  .Elements-section .card .card-body {
    height: 175px;
  }

  #elements .card .card-body {
    height: 175px;
  }
}

/* media queries 1440px*/

@media screen and (min-device-width: 1440px) and (max-device-width: 1535px) and (-webkit-min-device-pixel-ratio: 1) {
  .Elements-section .card .card-body {
    height: 175px;
  }
}

/* media queries 4k and up 2560*/

@media screen and (min-device-width: 3840px) and (max-device-width: 5120px) and (-webkit-min-device-pixel-ratio: 1) {
  .index-layout-body {
    zoom: 2;
  }
}

/* mobile media queries */

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .mobile-nav-col {
    width: 50%;
  }

  .elements-component-mobile {
    width: 100%;
  }

  .el-2 {
    padding-left: 2rem;
  }

  .mobile-component {
    margin: 0;
  }

  .mc-col {
    width: 100%;
    padding: 0;
  }

  h4.heading-border-left {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  footer.footer.mt-auto.py-3.bg-light {
    text-align: center;
  }

  /* temp css */

}

/* Avatar element */
.avatar-img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* checkBox */

.checkbox-def {
  margin-bottom: 4%;
}

/* badge */

.badge-primary {
  background-color: #c2e3ff;
  border-color: #c2e3ff;
  color: #3698ee !important;
}
.badge-secondary {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: #a9a2a2 !important;
}
.badge-success {
  background-color: #c5f8cf;
  border-color: #c5f8cf;
  color: #25c243 !important;
}
.badge-danger {
  background-color: #ffd1d1;
  border-color: #ffd1d1;
  color: #ec5f5f !important;
}
.badge-warning {
  background-color: #fff5d1;
  border-color: #ffecb5;
  color: #ecb15f !important;
}
.badge-info {
  background-color: #d1f4ff;
  border-color: #d1f4ff;
  color: #5fcaec !important;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.bg-code {
  background-color: #fdf6e3 !important;
}
.bg-dark {
  background-color: #000 !important;
}
.badge {
  border-radius: 4px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
}

/* second-footer */
.page-navigation {
  position: absolute;
  /* bottom: 50px; */
  width: 79%;
  height: auto;
  padding: 0;
  margin: 0;
  right: 0;
}

.page-navigation ul {
  list-style: none;
  padding: 0;
}

.page-navigation ul li {
  display: inline-block;
  vertical-align: middle;
}

.page-navigation ul li small {
  color: #9398b3;
}

.page-navigation ul li li.breadcrumb-item {
  width: 100%;
}
.page-navigation ul li {
  display: inline-block;
  vertical-align: middle;
}
.page-navigation ul li h6 {
  font-size: 1rem;
}
.nav-tabs .nav-link.active {
  border-top: 3px solid #68afff !important;
  color: #5fa9ff;
}
.nav-link {
  color: #c2c2c2;
}

.cust-scroll {
  position: fixed;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 89%;
  max-height: 100%;
}
.custm-scroll {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  /* width: 100%; */
  min-width: 100%;
  height: 70%;
  max-height: 70%;
}
.footerbutton{
  width: 83%;
  max-width: 100%;
}
/* position: fixed;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 17%; */

/*---------------------------------------
custom scrollbar
---------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #500dd1, #0796e3);
}

.bi-code-slash {
  padding-right: 10px;
}

.gatsby-remark-prismjs-copy-button-container {
  position: absolute !important;
  top: 4px !important;
}

.gatsby-remark-prismjs-copy-button {
  color: #5f5f5f !important;
}

/*card-css*/
.sentence-overflow{
  display:-webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }
@media (max-width: 767.98px) {

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  .sidebar {
    top: 4.1rem;
  }
  .cust-scroll{
      width:100%;
      top:66px;
      padding-top:0px;
  }
  .footerbutton{
      width:100%;
  }
  .btn-toggle-nav.list-unstyled {
    column-count: 2;
    column-gap: 20px;
    list-style: circle;
    list-style-type: disc;
    margin-left: 25px;
  }
    .btn-toggle-nav.list-unstyled li::marker{
        font-size:14px;
    }
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.btn-toggle-nav .nav-link {
  font-weight: 500;
  color: #333;
  font-size: 14px;
  padding-left:3px;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  position:absolute;
  right:0px;
}
.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}
.btn:focus{
    outline:none;
    box-shadow:none !important;
}
.btn-toggle-nav .active .nav-link {
  font-weight: 600;
  color: #0d6efd;
}
