/*==================================================================================================================================
    ELEMENT  : ACCORDIAN
==================================================================================================================================*/

    /*------- Main accordian -------------*/
        .accordion-item {
            background-color: #fff;
            border: 0.1px solid #DEDEDE;
            padding: 0;
            margin: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .trail{
            background-color: #000 !important;
        }
        .accordion-header {
            background: #5c82e3;
            padding: 0;
            margin: 0;
            height: 46px;
            box-shadow: none;
            border: 1px solid #DEDEDE;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .accordion-button {
            width: calc(100% - 46px);
            height: 45px;
            /*border-bottom: 0.1px solid #DEDEDE;*/
            box-shadow: none;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
        }
        .accordion-button:not(.collapsed) {
            box-shadow: none;
            color: #5C82E3;
            background: #F2F8FF;
        }
        .accordion-item:last-of-type .accordion-button.collapsed {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 4px;
        }

        .accordion-item .accordion-button {
                border-top-left-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 0;
        }

    /*------- focus state -------------*/
        .accordion-button:focus {
            box-shadow: none;
            border: 0;
        }

    /*------- dropdown arrow -------------*/
        .accordion-button::after {
            position: absolute;
            right: -46px;
            width: 46px;
            height: 46.5px;
            background-position-x: center;
            background-position-y: center;
            background-image: url(../../images/components/_accordion/chevron-down.svg);
        }
        .accordion-button:not(.collapsed)::after {
            background-image: url(../../images/components/_accordion/chevron-down.svg);

        }


    /*------- Outlined accordian -------------*/
        .outline .accordion-item {
            border: 0.1px solid #DEDEDE;
        }
        .outline .accordion-header {
            background: #ffffff!important;
            border: 1px solid #5c82e3;
            /*border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;*/
        }
        .outline .accordion-button {
            border-right: 1px solid #5c82e3!important;
            height: 44px;
            /*border-top-left-radius: 4px;
            border-top-right-radius: 4px;*/
        }
    /*------- Outlined dropdown arrow -------------*/
        .outline .accordion-button::after {
            background-image: url(../../images/components/_accordion/chevron-down-blue.svg);
        }
        .outline .accordion-button:not(.collapsed)::after {
            background-image: url(../../images/components/_accordion/chevron-down-blue.svg);

        }

/*==================================================================================================================================
    ELEMENT  : ALERT
==================================================================================================================================*/
        .alert {
            /*padding: 0.5rem 1rem;*/
            font-size: 1rem;
            font-weight: 500;
            color: #000;
        }
        .alert > div:first-child {
            height: auto;
            align-items: center;
            display: flex;
            width: auto;
        }
        .alert-primary {
            background-color: #c2e3ff;
            border-color: #a7d4fa;
        }
        .alert-success {
            background-color: #c5f8cf;
            border-color: #a2e4af;
        }
        .alert-danger {
            background-color: #ffd1d1;
            border-color: #fbbaba;
        }
        .alert-warning {
            background-color: #fff5d1;
            border-color: #ffecb5;
        }
        .alert .btn-close {
            opacity: 1;
            background-size: 10px;
        }

/*==================================================================================================================================
    ELEMENT  : AVATAR
==================================================================================================================================*/

        .img-rounded {
            border-radius: 50%;
        }
        .avatar {
            width: 48px;
            height: 48px;
        }
        .primary-avatar {
            background: #1f8eee;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }
        .default-avatar {
            background: #cecece;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
        }
        .avatar-sm {
            width: 32px;
            height: 32px;
        }
        .avatar-md {
            width: 40px;
            height: 40px;
        }
        .avatar-lg {
            width: 48px;
            height: 48px;
        }
/*==================================================================================================================================
    ELEMENT  : AVATAR GROUP
==================================================================================================================================*/
        .avatar-group {
            display: flex;
        }
        .avatar-group img, .avatar-group div {
            margin: 6px;
        }
        .avatar-group div {
            margin: 6px;
        }

/*==================================================================================================================================
    ELEMENT  : BREADCRUMB
==================================================================================================================================*/
        .breadcrumb a {
            color: #000;
            font-weight: 600;
        }
        .breadcrumb-item+.breadcrumb-item::before {
            --bs-breadcrumb-divider: '>'!important;
        }
/*==================================================================================================================================
    ELEMENT  : BUTTONS
==================================================================================================================================*/

        .btn-circle {
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;
        }
        .btn-circle.btn-lg {
          width: 40px;
          height: 40px;
          font-size: 18px;
          line-height: 1.33;
          border-radius: 25px;
        }
        .btn-circle.btn-xl {
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 35px;
        }
        .btn {
            border-radius: 4px;
            text-transform: uppercase;
        }

        /*primary button*/
        .btn-primary {
            color: #fff;
            background-color: #4EA1FF;
            border-color: #4EA1FF;
        }
        .btn-primary:hover {
            color: #fff;
            background-color: #458EE0;
            border-color: #458EE0;
        }
        .btn-primary:focus {
            color: #fff;
            background-color: #0b5ed7;
            border-color: #0a58ca;
            box-shadow: 0 0 0 2px #15bdff;
        }
        .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
            color: #fff;
            background-color: #3B7BC2;
            border-color: #3B7BC2;
        }
        /*secondary button*/
        .btn-secondary {
            color: #fff;
            background-color: #5C82E3;
            border-color: #5C82E3;
        }
        /*danger button*/
        .btn-danger {
            color: #fff;
            background-color: #EA2745;
            border-color: #EA2745;
        }
        /*success button*/
        .btn-success {
            color: #fff;
            background-color: #4DAB9D;
            border-color: #4DAB9D;
        }
        /*warning button*/
        .btn-warning {
            color: #fff;
            background-color: #F58220;
            border-color: #F58220;
        }
        .btn-warning:hover {
            color: #fff;
            background-color: #ee7005;
            border-color: #ee7005;
        }
        /*info button*/
        .btn-info {
            color: #000;
            background-color: #61CBF8;
            border-color: #61CBF8;
        }
        /*info button*/
        .btn-default {
            color: #000;
            background-color: #F2F4F6;;
            border-color: #F2F4F6;;
        }
        .btn-outline-default {
            color: #6c757d;
            border-color: #F2F4F6;
        }
        /*btn-block*/
        .btn-block {
            width: 100%;
        }

        /*white button*/
        .btn-white {
            color: #000;
            background-color: #ffffff;
            border-color: #ffffff;
        }
        .btn-outline-white {
            color: #ffffff;
            border-color: #ffffff;
            margin-top: 0;
            right: 4%;
            background: transparent;
            border: 1.4px solid #fff;
            font-size: 14px;
            text-transform: uppercase;
        }
        .btn-outline-white:hover {
            color: #fff;
            background-color: rgb(0 0 0 / 5%);
            border-color: 2px solid #ffffff;
            font-weight: 700;

        }
        a.btn.btn-outline-white.float-right {
            position: absolute;
            right: 2%;
        }





        .btn-outline-warning:hover {
            color: #fff;
            background-color: #F58220;
            border-color: #F58220;
        }
        .btn-outline-danger:hover {
            color: #fff;
            background-color: #EA2745;
            border-color: #EA2745;
        }
        .btn-outline-success:hover {
            color: #fff;
            background-color: #4DAB9D;
            border-color: #4DAB9D;
        }
        .btn-outline-primary:hover {
            color: #fff;
            background-color: #4EA1FF;
            border-color: #4EA1FF;
        }

/*==================================================================================================================================
    ELEMENT  : BUTTON GROUP
==================================================================================================================================*/

        .btn-group, .btn-group-vertical {
            position: relative;
            display: unset;
            vertical-align: middle;
        }
        .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .btn-group .btn {
            margin: 0 8px;
        }
        /*---- rounded icon button ----*/
        .btn-group>.btn-group:not(:last-child)>.btn.btn-circle, .btn-group>.btn.btn-circle:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        .btn-group>.btn-group:not(:first-child)>.btn.btn-circle, .btn-group>.btn.btn-circle:nth-child(n+3), .btn-group>:not(.btn-check)+.btn.btn-circle {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

/*==================================================================================================================================
    ELEMENT  : BUTTON DROPDOWN
==================================================================================================================================*/
        .dropdown-menu {
            font-size: 12px;
            padding: 0;
            min-width: 12rem;
        }
        .dropdown-menu li {
            padding: 4%;
        }
        .dropdown-menu li:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

/*==================================================================================================================================
    ELEMENT  : BADGE
==================================================================================================================================*/
        .badge {
            border-radius: 4px;
            padding: 6px 12px;
            font-size: 14px;
        }
        .badge-primary {
            background-color: #c2e3ff;
            border-color: #c2e3ff;
            color: #3698ee;
        }
        .badge-success {
            background-color: #c5f8cf;
            border-color: #c5f8cf;
            color: #25c243;
        }
        .badge-danger {
            background-color: #ffd1d1;
            border-color: #ffd1d1;
            color: #ec5f5f;
        }
        .badge-warning {
            background-color: #fff5d1;
            border-color: #ffecb5;
            color: #ecb15f;
        }
        .badge-secondary {
            background-color: #e2e2e2;
            border-color: #e2e2e2;
            color: #a9a2a2;
        }
        .badge-info {
            background-color: #d1f4ff;
            border-color: #d1f4ff;
            color: #5fcaec;
        }
/*==================================================================================================================================
    ELEMENT  : BUTTON
==================================================================================================================================*/
        .breadcrumb-item+.breadcrumb-item::before {
            float: left;
            padding-right: 0.5rem;
            color: #1946BA;
            content: var(--bs-breadcrumb-divider, "/");
        }
        .btn {
            border-radius: 4px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
/*==================================================================================================================================
    ELEMENT  : ICON
==================================================================================================================================*/

        .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
            line-height: 1;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 40px;
        }

        .icon-xs::before {
            font-size: .75em;
        }
        .icon-sm::before {
            font-size: .875em;
        }
        .icon-lg::before {
            font-size: 1.33333em;
            line-height: .75em;
            vertical-align: -0.0667em;
        }
        .icon-2x::before {
            font-size: 2em;
        }
        .icon-3x::before {
            font-size: 3em;
        }
        .icon-4x::before {
            font-size: 4em;
        }
        .icon-5x::before {
            font-size: 5em;
        }
        .icon-6x::before {
            font-size: 6em;
        }
        .icon-7x::before {
            font-size: 7em;
        }
        .icon-8x::before {
            font-size: 8em;
        }
        .icon-9x::before {
            font-size: 9em;
        }
        .icon-10x::before {
            font-size: 10em;
        }
/*==================================================================================================================================
    ELEMENT  : CARD
==================================================================================================================================*/
        .card {
            border: 1px solid #E0E0E0;
        }
        .card-title {
            margin-bottom: 8px;
            font-size: 14px;
        }
        .card-body {
            flex: 1 1 auto;
            padding: 20px 32px;
            position: relative;
        }
      .card-img-float {
            position: absolute;
            top: -23%;
            left: calc(50% - 42px);
            width: 84px;
            height: 84px;
            border-radius: 50%;
            border: 4px solid #fff;
        }
        .card-subheader {
            padding: 16px;
            margin-bottom: 0;
            background-color: transparent;
            border-bottom: 0;
        }
/*==================================================================================================================================
    ELEMENT  : CAROUSEL
==================================================================================================================================*/
        .carousel-indicators [data-bs-target] {
            width: 6px;
            height: 6px;
            border: 2px solid #fff;
            border-radius: 50%;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            background-color: #232933;
        }
        .carousel-indicators .active {
            opacity: 1;
            border: 2px solid #232933;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-size: 75% 75%!important;
            background-position-x: center!important;
            background-position-y: center!important;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: rgb(255 255 255 / 30%)!important;
        }

/*==================================================================================================================================
    ELEMENT  : FILE UPLOADER
==================================================================================================================================*/
        /* Put your css in here */
        .abc {
            position: relative;
        }
        .abc input[type="file"] {
          z-index: -1;
          position: absolute;
          opacity: 0;
        }
        .abc input:focus + label {
          outline: 2px solid;
        }
        .abc label.file-upload {
            border: 2px dashed #9BACBC;
            border-radius: 4px;
            width: 100%;
            min-height: 68px;
            height: 100%;
            padding: 3%;
            background: #EAEFF5;
            color: #3D4D60;
        }
        .abc label.file-upload:before {
            position: absolute;
            top: inherit;
            right: 12px;
            width: 23px;
            height: auto;
            font-size: 20px;
            font-weight: bold;
            padding: 0;
            margin: 0;
            line-height: 1;
            content: url("../../images/components/_file-uploaders/upload-thick-bottom.svg");
        }
        .abc label.file-upload > div {
            color: #9BACBC;
        }
        .abc .text-muted {
            color: #9BACBC!important;
        }

        /*--file name section-----*/
        div#rds-file-label {
            background: #eaeff5;
            height: 44px;
            align-items: center;
            padding: 12px 10px;
            font-size: 12px;
            margin-top: 5px;
            outline: 0;
        }
        div#file-upload-filename {
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
        .abc .btn-close {
            box-sizing: content-box;
            width: 8px;
            height: 8px;
            background: transparent url(../../images/components/_file-uploaders/remove-circle.svg) center/1em auto no-repeat;
            opacity: 0.8;
        }
        .abc .alert-dismissible .btn-close {
            position: absolute;
            top: 0;
            right: 12px;
            z-index: 2;
            padding: 0;
            height: 100%;
            width: 20px;
        }
        .abc .alert .btn-close {
            opacity: 1;
            background-size: unset;
            align-items: center;
        }
        .abc label.file-upload:focus, .abc label.file-upload:focus-visible  {
            border: 2px solid #1F8EEE!important;
            border-radius: 4px;
            outline: 0;
        }
        .abc label.file-upload:active, .abc label.file-upload:hover {
            background: #D7DFE8;
            outline: 0;
        }
        .abc label.file-upload:target, .abc label.file-upload:enabled,
        .abc label.file-upload:enabled, .abc label.file-upload::focus-within,
        .abc label.file-upload:focus-visible {
            outline: 0;
        }
/*==================================================================================================================================
    ELEMENT  : LINK
==================================================================================================================================*/
        a {
            text-decoration: none;
            /*color: #0900ff;*/
            cursor: pointer;
        }
/*==================================================================================================================================
    ELEMENT  : LIST GROUP
==================================================================================================================================*/

        .list-group-item {
            padding: 8px 16px;
        }
        .list-group-bordered .list-group-item {
            border-left: 4px solid #4fa1fe;
        }

/*==================================================================================================================================
    ELEMENT  : MODAL POPUPS
==================================================================================================================================*/

        .modal-header {
            border-top: 4px solid #4ea1ff!important;
        }
        .modal-header h6 {
            font-weight: 500;
        }
        .modal-header.bg-primary {
            background: #4ea1ff!important
        }
        .modal-content {
            border: 0;
        }
        .text-white {
            color: #ffffff!important;
        }


        @media (max-width: 576px) {
            .modal-backdrop {
                width: 100%;
                height: 100%;
            }
        }

/*==================================================================================================================================
    ELEMENT  : OFFCANVAS
==================================================================================================================================*/

        .offcanvas-header {
            border-bottom: 1px solid #DEDEDE;
        }
        .offcanvas.show {
            border: 0!important;
            box-shadow: 0 8px 17px 0 rgb(0 0 0 / 2%), 0 6px 20px 0 rgb(0 0 0 / 2%);
        }


/*==================================================================================================================================
    ELEMENT  :  PAGINATION
==================================================================================================================================*/

        .page-item:first-child .page-link {
            border: 0;
            color: #000;
        }
        .page-item:last-child .page-link {
            border: 0;
            color: #000;
        }
        .page-item:not(:first-child) .page-link {
            margin-left: 0;
        }

        .page-link {
            border: 1px solid #dce2e6;
            margin: 0 4px;
            border-radius: 4px;
            color: #000;
            padding: 0.205rem 0.75rem;
        }
        .page-item.active .page-link {
            background-color: #4ea1ff;
            border-color: #4ea1ff;
        }
        .rouded * {
            border-radius: 50%;
        }
        .rouded .page-link {
            padding: 3px 10px;
            width: 30px;
            height: 30px;
            text-align: center;
            align-items: center;
        }
        .rouded .page-item:nth-last-child(2) .page-link {
            border: 0!important;
            color: #000;
            background: #b2bec5;
            padding: 4px 7px;
        }
        .rouded .page-item:nth-child(2) .page-link {
            border: 0!important;
            color: #000;
            background: #b2bec5;
            padding: 4px 7px;
        }
        .rouded .page-item:first-child .page-link {
            border: 0!important;
            color: #000;
            background: #b2bec5;
            padding: 4px 7px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        .rouded .page-item:last-child .page-link {
            border: 0!important;
            color: #000;
            background: #b2bec5;
            padding: 4px 7px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .rouded .page-item .bg-light {
            background-color: #f3f4f7!important;
        }

/*==================================================================================================================================
    ELEMENT  :  PROGRESS BARS
==================================================================================================================================*/

        .progress {
            border-radius: 1.25rem;
        }
        .progress-bar {
            background-color: #4ea1ff;
        }

/*==================================================================================================================================
    ELEMENT  :  RADIO BUTTON
==================================================================================================================================*/
        .form-check .form-check-input {
            float: left;
            margin-left: 0;
            margin-right: 12px;
        }
        .form-check label {
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 5px;
        }
        .form-check-input:focus {
            box-shadow: none;
        }

/*==================================================================================================================================
    ELEMENT  :  RANGE SLIDERS
==================================================================================================================================*/
        input[type='range'] {
            width: 100%!important;
        }
/*==================================================================================================================================
    ELEMENT  :  SEARCH
==================================================================================================================================*/
        .form-group.has-search {
            position: relative;
        }
        .has-search .form-control {
            padding-left: 0.75rem;
        }
        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 24px;
            height: 24px;
            line-height: inherit;
            text-align: center;
            pointer-events: none;
            color: #D7D7DB;
            right: 12px;
            top: calc(100% - 30px);
        }
        .form-control:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: none;
        }
/*==================================================================================================================================
    ELEMENT  :  SHIMMER
==================================================================================================================================*/


/*==================================================================================================================================
    ELEMENT  : TEXT INPUT
==================================================================================================================================*/
        .form-control {
            font-size: 14px;
            font-weight: normal;
            background-color: #F4F7F9;
            border: 1px solid #F4F7F9;
            padding: 10px 12px;
            height: 36px;
            color: #212529;
        }
        .form-control[disabled="disabled"] {
            cursor: not-allowed;
        }
        .form-control:disabled, .form-control[readonly] {
            background-color: #f4f7f9;
            opacity: 1;
        }
/*==================================================================================================================================
    ELEMENT  :  SCROLLSPY
==================================================================================================================================*/


        .scrollspy  ul.nav.nav-pills {
            width: 100%;
        }
        .scrollspy ul.nav.nav-pills > li.nav-item {
            border-bottom: 0!important;
            margin: 0 4%;
        }
        .scrollspy .scrollspy-example {
            background: #f4f7f9!important;
            padding: 4%!important;
        }
        .nav-pills .nav-link.active {
            background-color: #4ea1ff!important;
        }

/*==================================================================================================================================
    ELEMENT  :  TABS
==================================================================================================================================*/

        .nav-tabs .nav-link.active {
            border-top: 3px solid #68afff !important;
            color: #5fa9ff;
        }
        .nav-link {
            color: #c2c2c2;
        }
        .nav-tabs .nav-link {
            min-width: 108px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }


        .rds-tab-2 .nav-tabs .nav-link.active {
            border-top: 1px solid transparent;
            border: 1px solid transparent;
            color: #5fa9ff;
            border-bottom: 3px solid #68afff;
        }


/*==================================================================================================================================
    ELEMENT  :  TOOLTIP
==================================================================================================================================*/

        [data-rds-toggle="tooltip"]:hover:before, [data-rds-toggle="tooltip"]:hover:after {
             display: block;
             position: absolute;
             font-size: 0.8em;
             color: white;
             text-align: center;
             text-transform: initial;
        }
        [data-rds-toggle="tooltip"]:hover:before {
            border-radius: 4px;
            content: attr(rds-title);
            background: #1f8eee;
            border: 1px solid #1f8eee;
            margin-top: 0;
            padding: 0.3em;
            font-size: 14px;
            font-weight: normal;
            /*top: calc(100% + 12px);*/
            height: max-content;
            min-width: 130px;
                z-index: 99;
        }
         [data-rds-toggle="tooltip"]:hover:after {
             content: '';
             margin-top: -2.1em;
             margin-left: 1em;
             border-style: solid;
             border-color: transparent;
             border-top-color: #1f8eee;
             border-width: 0.5em 0.5em 0 0.5em;
        }



         /*bottom*/
        [data-rds-placement="bottom"] {
            position: relative;
        }

        [data-rds-placement="bottom"]::before {
            /*bottom: calc(-100% - 9px);*/
            top: calc(100% + 13px);
            width: -webkit-fill-available;
        }
        [data-rds-placement="bottom"]::after {
            position: absolute;
            bottom: -13px;
            transform: rotate(180deg);
        }


        /*top*/
        [data-rds-placement="top"] {
            position: relative;
        }

        [data-rds-placement="top"]::before {
            /*bottom: 144%;*/
            bottom: calc(100% + 16px);
            width: -webkit-fill-available;
            white-space: normal;
        }
        [data-rds-placement="top"]::after {
            bottom:calc(100% + 12px);
            transform: rotate(0deg);
        }




        /*left*/
        [data-rds-placement="left"] {
            position: relative;
        }

        [data-rds-placement="left"]::before {
            right: calc(100% + 16px);
            width: -webkit-fill-available;
        }
        [data-rds-placement="left"]::after {
            transform: rotate(270deg);
            right: calc(100% + 8px);
            top: calc(0% + 32px);
        }


        /*right*/
        [data-rds-placement="right"] {
            position: relative;
        }

        [data-rds-placement="right"]::before {
            left: calc(100% + 17px);
            width: -webkit-fill-available;
        }
        [data-rds-placement="right"]::after {
            right: calc(0% - 19px);
            top: calc(0% + 32px);
            transform: rotate(90deg);
        }



/*==================================================================================================================================
    ELEMENT  :  TOASTS
==================================================================================================================================*/


        .toast-outline-primary {
            border: 1px solid #336cff;
        }
        .toast-outline-warning {
            border: 1px solid #ff7500;
        }
        .toast-primary {
            background-color : #336cff;
            border: 1px solid #336cff;
            color: #fff;
        }
        .toast-warning {
            background-color : #ff7500;
            border: 1px solid #ff7500;
            color: #fff;
        }
        .toast-primary .btn-close {
            color: #fff;
            background: transparent url('../../images/components/_toast-message/close-white.png') center/1em auto no-repeat;
        }
        .toast-warning .btn-close {
            color: #fff;
            background: transparent url('../../images/components/_toast-message/close-white.png') center/1em auto no-repeat;
        }
        .btn-close {
            box-sizing: content-box;
            width: 8px;
            height: 8px;
            background: transparent url('../../images/components/_toast-message/close-black.png') center/1em auto no-repeat;
            opacity: 0.8;
        }



/*==================================================================================================================================
    ELEMENT  :  Tags
==================================================================================================================================*/


        .tags {
            display: inline-block;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25rem;
            padding: 2px 5px;
            min-width: 120px;
        }
        .tags.tag-primary {
            background: #d2daf0;
            color: #3c5fbc;
            border: 1px solid #d2daf0;
            font-weight: normal;
        }
        .tags.tag-success {
            background: #ccefeb;
            border: 1px solid #ccefeb;
            color: #1cb6a6;
        }
        .tags.tag-warning {
            background: #fde6d2;
            color: #f59340;
            border: 1px solid #fde6d2;
            font-weight: normal;
        }
        .tags.tag-danger {
            background: #fcdddf;
            border: 1px solid #fcdddf;
            color: #ed5b62;
        }

        .tags.tag-default{
            background: #F4F5F8;
            color: #000000;
            border: 1px solid #F4F5F8;
            font-weight: normal;
        }

        .tag-sm {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 4px 8px 5px 8px;
        }
        .tag-md {
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            padding: 3px 8px 4px 8px;
        }
        .tag-lg {
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
            padding: 8px 12px 8px 12px;
        }


/*==================================================================================================================================
    ELEMENT  :  Table
==================================================================================================================================*/

.table>thead {
    vertical-align: middle;
    background: #5c82e3;
    color: #fff;
    font-size: 12px ;
    font-weight: bold;
    text-transform: uppercase;
    height: 34px;
}
.table>:not(:first-child) {
    border-top: 0;
}
.table>thead tr>th:first-child {
    border-right: 2px solid #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.table>thead tr>th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.table>:not(caption)>*>* {
    padding: 0px 16px;
}
.table>tbody {
    vertical-align: middle;
}
.table>tbody tr {
     height: 56px;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(235 240 255);
    color: var(--bs-table-striped-color);
}





